<!-- src/app/movie-card/movie-card.component.ts -->
<app-top-bar></app-top-bar>
<div style="display: flex; overflow-x: auto; margin: 10px 0">
  <mat-card
    *ngFor="let movie of movies"
    style="
      flex: 1 1 auto;
      background-color: rgb(200, 200, 200);
      padding: 0px 0px;
      margin: 10px;
    "
  >
    <img src="{{ movie.imageurl }}" alt="{{ movie.title }}" height="570px" />
    <mat-card-actions style="width: 100%">
      <button
        mat-button
        color="primary"
        (click)="
          openSynopsis(
            movie.title,
            movie.description,
            movie.imageurl,
            movie.director.name,
            movie.director.bio,
            movie.genre.name,
            movie.genre.description
          )
        "
        color="primary"
        style="width: 90%"
      >
        Details
      </button>

      <button
        style="width: 10%"
        mat-icon-button
        color="primary"
        (click)="addOrRemoveFavorite(movie._id)"
        *ngIf="isFavorite(movie._id)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        style="width: 10%"
        mat-icon-button
        color="primary"
        (click)="addOrRemoveFavorite(movie._id)"
        *ngIf="!isFavorite(movie._id)"
      >
        <mat-icon>favorite_outline</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
